app.get('/backoffice/{{title}}',function(req,res) {
    fs.readFile('./StaticFiles/list.mustache', function (err, data) {
        if (err) {
            throw err;
        }
        var object = new {{title}}();
        let view = {
            title: '{{title}}',
            columns: Object.keys(new {{title}}()).map(key =>{
                return {
                    name: key};
            }),
            rows : [{
                properties: [{{value}}],
                actions: [{
                    link: '#',
                    tooltip: 'Apagar',
                    events: [{
                        name: "onclick",
                        function: "apagar",
                        args: object.id
                    }],
                    label: '',
                    image:{
                        src: '/StaticFiles/delete.png',
                        alt: "apagar"
                    }
                }]
            }]
        }
        let output = mustache.render(data.toString(), view);
        fs.writeFile('./Publish/Views/{{title}}.html' , output, function () {
            console.log("Created {{title}}.html");
        });
    });
    res.send('View: Backoffice {{title}}');
});

app.get('/backoffice/{{title}}/detalhe/:id',function(req,res) {
    res.send('View: Backoffice {{title}} Detalhe');
});
