app.get('/{{title}}',function(req,res) {
    {{title}}.all(function(rows){
            res.render('list',{
                title: '{{title}}',
                columns: Object.keys(new {{title}}()).map(key =>{
                return {
                    name: key};
            }),
                rows: rows.map(obj =>{
                    return {
                        properties: Object.keys(obj).map(key => {
                            return {
                                name: key,
                                value: obj[key]
                            }
                        }),
                        actions:[{
                            label: '',
                            link: '#',
                            image:{
                                src: './StaticFiles/delete.png',
                                alt: 'Apagar'
                            },
                            tooltip: 'Apagar',
                            events: [{
                                name: "onclick",
                                function: "apagar",
                                args: obj.id
                            }]
                        }, {
                            label: '',
                            link: './{{title}}/detalhe' + obj.id,
                            image:{
                                src: './StaticFiles/read.png',
                                alt: 'Detalhes'
                            },
                            tooltip: 'Detalhe'
                        },{
                            label: '',
                            link: './{{title}}/editar/' + obj.id,
                            image:{
                                src: './StaticFiles/edit.png',
                                alt: 'Editar'
                            },
                            tooltip: 'Editar'
                        }]

                    }
                })
            });
            
        
    });
    
});

app.get('/{{title}}/detalhe/:id',function(req,res) {
    var dados{{title}} = {{title}}.get(req.params.id, function(props){
        res.render('details', {
            properties: function(){
                var array = [];
                var rows = Object.getOwnPropertyNames(props);
                rows.forEach(element => {
                    if({{schema}}.properties.hasOwnProperty(element)){
                        array.push({name: element, value: props[element]});
                    }
                });
                return array;
            },
            references: function(){
                var allReferencies = [];
                if({{schema}}.references){
                    {{schema}}.references.forEach(function (r) {
                        allReferencies.push({
                            label: r.label,
                            model: r.model,
                            values: r.relation == "M-M" ? {{db}} + '/' + req.params.id :
                                p[(r.model + "_id").toLowerCase()]
                        });
                    });
                }
                return allReferencies;
            },
            get hasReferences(){
                return this.hasReferences().length > 0;
            }
        });
    });
});

app.get('/{{title}}/inserir/:id',function(req,res) {
    res.render('form',{
properties: function() {
    var array = [];
    rows.forEach(element => {
        props = {{schema}}.properties;
        if (props.hasOwnProperty(element)) {
            var min, max;
            var elem = props[element];
            if (elem.hasOwnProperty('minimum')) min = `min="${elem.minimum}"`;
            if (elem.hasOwnProperty('maximum')) max = `max="${elem.maximum}"`;
            array.push({ name: element, minimum: min, maximum: max });
            }
        });
        return array;
        },
            references: function () {
                var allReferencies = [];
                if ({{schema}}.references) {
                    {{schema}}.references.forEach(function (r) {
                        allRefs.push({
                            label: r.label,
                            model: r.model,
                            values: r.relation == "M-M" ? {{db}} + '/' + req.params.id :
                                props[(r.model + "_id").toLowerCase()]
                        });
                    });
                }
                return allReferencies;
            },
            get hasReferences() {
                return this.references().length > 0;
            }
        });
    });



app.get('/{{title}}/editar/:id',function(req,res){
    var dados{{title}} = {{title}}.get(req.params.id,function(props){
        res.render('form',{
            title: '{{title}}',
            {{title}}: req.params.id,
            properties: function(){
                var array = [];		
                var rows = Object.getOwnPropertyNames(props);		
	            rows.forEach(element => {		
	                prop = {{title}}.properties;		
	                if (prop.hasOwnProperty(element)) {		
	                    var min, max;		
	                    var elem = prop[element];		
	                    if (elem.hasOwnProperty('minimum')) min = `min="${elem.minimum}"`;		
	                    if (elem.hasOwnProperty('maximum')) max = `max="${elem.maximum}"`;		
	                    array.push({ name: element, minimum: min, maximum: max, value: props[element] });		
	                }		
	            });		
	            return arr;		
	        },		
	        references: function () {		
	            var allReferencies = [];		
	            if ({{title}}.references) {		
	                {{title}}.references.forEach(function (ref) {		
	                    allReferencies.push({		
	                        id: ref.model.concat('Id'),		
	                        label: ref.label,		
	                        model: ref.model,
                            type : 'edit',	
	                        relation: ref.relation == '1-M',
                            bdId: ref.model.toLowerCase().concat('_id'),
	                        values: function(){
                                var x;
                                if(this.relation)
                                    x = props[(ref.model + "_id").toLowerCase()]
                                else x = '{{db}}/' + req.params.id
                                return x;
                            }
	                    });		
	                });		
	            }		
	            return allReferencies;		
	        },		
	        get hasReferences() {		
	            return this.references().length > 0;		
	        }		
        });		
	});		
});